node_modules/
.pnpm-store/
build/
package-lock.json
.vscode/
firebase/
dist/
public/workbox
packages/excalidraw/types
examples/**/public
dev-dist
coverage
.claude/
dev-docs/src/components/Homepage/index.js
dev-docs/src/pages/index.js
